@keyframes scalein {
    from {
        transform: scale(0.97);
        background-color: #5e5e5e;
    }
    to {
        transform: scale(1);
        background-color: #242424;
    }
}


@keyframes slideup {
    from {
        height: 0;
    }
    to {
        height: 22px;
    }
}

.sidebar {
    min-height: 100%;
    padding: 10px 10px 20px 10px;
    border-right: 1px solid #2e2e2e;
    user-select: none;
    & .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 0.98em;
        backdrop-filter: blur(20px);
        & .navtop, & .navbottom {
            display: flex;
            flex-direction: column;
            gap: 7px;
            & a {
                display: flex;
                position: relative;
                gap: 5px;
                align-items: center;
                text-decoration: none;
                color: white;
                padding: 10px 10px;
                width: 120px;
                background-color: transparent;
                transition: all 0.2s ease;
                border-radius: 9px;
                text-align: left;
                 & svg {
                    width: 24px;
                    height: 24px;  
                    transition: all 0.3s ease;      
                }
                
                 &:hover {
                    background-color: #242424;
                }
                 &.active {
                    background-color: #242424;
                    animation: scalein 0.3s ease;
                     & svg {
                        transform: scale(1.2);
                        color: white;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: -2px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 4px;
                        height: 22px;
                        background-color: var(--primary);
                        border-radius: 10px;
                        animation: slideup 0.3s ease forwards;
                    }
                }
            }
        }
    }
}