@keyframes scaleIn {
    from {
        transform: scale(0.96);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.home {
    padding: 0px 30px 0px 30px;
    display: flex;
    height: 100%;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    animation: scaleIn 0.4s ease forwards;
     & .container {
        display: flex;
        width: 100%;
        height: 76%;
        user-select: none;
        outline: 5px dashed var(--primary);
        outline-offset: -3px;
        border-radius: 10px;
        padding: 30px;
        & .ddrop {
            gap: 26px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
             & .ddrop_label {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                 & svg {
                    width: 76px;
                    height: 76px;
                }
                 & span {
                    font-size: 1.5em;
                }
            }
             & .or {
                text-align: center;
                font-size: 1.5em;
                color: #999999;
                 &::before {
                    content: "";
                    display: inline-block;
                    width: 15%;
                    height: 2px;
                    background: linear-gradient(to right, #ffffff36, #ffffffad);
                    margin: 0px 10px 4.5px 10px;
                 }
                 &::after {
                    content: "";
                    display: inline-block;
                    width: 15%;
                    height: 2px;
                    background: linear-gradient(to left, #ffffff36, #ffffffab);
                    margin: 0px 10px 4.5px 10px;
                 }
            }
             & .select {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 7px;
                 & button {
                    cursor: pointer;
                    border-radius: 15px;
                    width: 180px;
                    height: 40px;
                    border: none;
                    font-family: "Rubik", sans-serif;
                    font-weight: 500;
                    font-size: 1em;
                    background-color: var(--primary);
                    color: var(--color-black);
                    transition: all 0.2s ease;
                     &:hover {
                        background-color: var(--primary-hover);
                     }
                     &:active {
                        transform: scale(0.98);
                     }
                 }
                 & span {
                    font-size: small;
                    color: #999999;
                 }
            }
        }
    }
}